@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.road-map-main {
  margin: 50px 0 51px;
}
.road-map-main .road-map-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 175px;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper {
    margin-bottom: 25px;
    height: auto;
    display: block;
  }
}
.road-map-main .road-map-wrapper::before {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
.road-map-main .road-map-wrapper::after {
  content: "";
  width: 100%;
  clear: both;
  display: block;
}
.road-map-main .road-map-wrapper .road-map-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 25px solid transparent;
  border-top-color: #7a7bd7;
  border-right-color: #7a7bd7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(45deg);
}
@media (max-width: 992px) {
  .road-map-main .road-map-wrapper .road-map-circle {
    position: unset;
    border: 25px solid #7a7bd7;
  }
}
.road-map-main .road-map-wrapper .road-map-circle .road-map-circle-text {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #eb0d0de0;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  text-transform: capitalize;
  color: #fff;
  box-shadow: 0px 0px 10px 5px #00000021;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotate(-45deg);
}
.road-map-main .road-map-wrapper .road-map-card {
  width: 35%;
  background: #7a7bd7;
  padding: 20px 20px;
  z-index: 1;
  position: absolute;
  right: 0;
  border-radius: 5px;
}
.road-map-main .road-map-wrapper .road-map-card::before {
  content: "";
  width: 25%;
  height: 20px;
  background: #7a7bd7;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -23%;
  z-index: -1;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper .road-map-card {
    width: 100%;
    margin-top: 30px;
    position: unset;
  }
  .road-map-main .road-map-wrapper .road-map-card::before {
    content: "";
    width: 20px;
    height: 30%;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
  }
}
@media (max-width: 425px) {
  .road-map-main .road-map-wrapper .road-map-card {
    top: 45%;
  }
}
.road-map-main .road-map-wrapper .road-map-card .card-head {
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin: 0 0 15px;
  color: #fff;
}
.road-map-main .road-map-wrapper .road-map-card .card-text {
  color: #fff;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .road-map-main .road-map-wrapper .road-map-card .card-text {
    -webkit-line-clamp: 4;
  }
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-circle {
  border-bottom-color: #7a7bd7;
  border-left-color: #7a7bd7;
  border-top-color: transparent;
  border-right-color: transparent;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-circle {
    border-color: #7a7bd7;
  }
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card {
  left: 0;
}
.road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
  right: -23%;
  left: unset;
}
@media (max-width: 991px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
    content: "";
    width: 20px;
    height: 30%;
    top: 50%;
    transform: translateX(-50%);
    left: 50%;
  }
}
@media (max-width: 425px) {
  .road-map-main .road-map-wrapper:nth-of-type(even) .road-map-card::before {
    top: 45%;
  }
}

.form-main {
  background: linear-gradient(to bottom, #00000024, #00000024), url(https://res.cloudinary.com/dqifboxk5/image/upload/v1686209968/contact-us-2_y8zzx7.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-main .main-wrapper {
  border-radius: 10px;
  padding: 45px;
  width: 40%;
  box-shadow: 0 0 5px 5px #00000020;
  backdrop-filter: blur(5px);
  background-color: #ffffff85;
}
@media screen and (max-width: 991px) {
  .form-main .main-wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 767px) {
  .form-main .main-wrapper {
    width: 90%;
  }
}
.form-main .main-wrapper .form-head {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  margin: 0px 0 25px;
}
.form-main .main-wrapper .form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}
.form-main .main-wrapper .form-wrapper .form-card {
  position: relative;
  width: 100%;
}
.form-main .main-wrapper .form-wrapper .form-card .form-input {
  padding: 20px 25px 15px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  background: transparent;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  box-sizing: border-box;
}
.form-main .main-wrapper .form-wrapper .form-card .form-input:valid, .form-main .main-wrapper .form-wrapper .form-card .form-input:focus {
  border: 1px solid #515151;
}
.form-main .main-wrapper .form-wrapper .form-card .form-input:valid ~ .form-label, .form-main .main-wrapper .form-wrapper .form-card .form-input:focus ~ .form-label {
  color: #515151;
  top: 30%;
  transform: translateY(-70%);
  font-size: 13px;
  line-height: 23px;
}
.form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill, .form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill:hover, .form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill:focus, .form-main .main-wrapper .form-wrapper .form-card .form-input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
.form-main .main-wrapper .form-wrapper .form-card .form-input::-webkit-outer-spin-button, .form-main .main-wrapper .form-wrapper .form-card .form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-main .main-wrapper .form-wrapper .form-card .form-label {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: 0.3s;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
.form-main .main-wrapper .form-wrapper .form-card .form-textarea {
  padding: 20px 25px 15px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  background: transparent;
  outline: none;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  resize: none;
  box-sizing: border-box;
}
.form-main .main-wrapper .form-wrapper .form-card .form-textarea:valid, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:focus {
  border: 1px solid #515151;
}
.form-main .main-wrapper .form-wrapper .form-card .form-textarea:valid ~ .form-textarea-label, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:focus ~ .form-textarea-label {
  color: #515151;
  top: 18%;
  transform: translateY(-82%);
  font-size: 13px;
  line-height: 23px;
}

button{
	width: fit-content;
	height: 2rem;
}

.form-main .main-wrapper .form-wrapper .form-card .form-textarea:-webkit-autofill, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:-webkit-autofill:hover, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:-webkit-autofill:focus, .form-main .main-wrapper .form-wrapper .form-card .form-textarea:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}
.form-main .main-wrapper .form-wrapper .form-card .form-textarea-label {
  position: absolute;
  left: 25px;
  top: 30%;
  transform: translateY(-70%);
  pointer-events: none;
  transition: 0.3s;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

body
		{
			background-color:#AEE19E;
			background-image:url("https://www.studiopress.com/wp-content/uploads/sp-bg-2880x1452.png");
		}
		.form-container
		{
			margin-top:40px;
			margin-bottom: 40px;
		}
		#dob
		{
			color:orange;
		}
		label
		{
			color:white;
			font-size:17px;
			font-style:italic;
		}

		.form-control
		{
			background-color:#1c7bd0;
			color:white;
		}
		.form-control::placeholder
		{
			color:orange;
		}

		.form-control:focus
		{
			background-color:#1c7bd0;
			color:white;
		}
		h1
		{
			margin-bottom:40px;
			font-style:italic;
			color:white;
		}

		
		.btn
		{
			background-color: orange;
			color:white;
		}

		
		table th,td
		{
			color:white;
			text-align:center;
		}

    .for_profile img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
    
